header{
	margin: 0%;
}

.contenedorheader{
    height: 6vw;
    display: flex;
}

.menu {
	margin-left: 4%;
	margin-top: 3%;
	height: 40%;
	width: 4%;
}

.buscar{
	margin-top: 3%;
	margin-left: 60%;
	background: url(../res/lupita.png) no-repeat;	
	background-position-x: right;
	width: 15%;
	height: 40%;
}

.buscar-clickeado{
	margin-top: 3%;
	margin-left: 60%;
	background: url(../res/cruz.png) no-repeat;	
	background-position-x: 93%;
	background-position-y:center;
	width: 15%;
	height: 40%;
	border-radius: 5px;
	border: 0.5px solid #68BAE8 !important;
}

.buscar:hover{
	border-bottom: 1px solid #68BAE8 !important;

}

.buscar p{
	font-family: gotham-light;
	font-size: 1.5vw;
	color: #68BAE8;
	margin-top: 1.25%;
	margin-left: 2.5%;
}

.buscar-clickeado p{
	font-family: gotham-light;
	font-size: 1.25vw;
	color: #68BAE8;
	margin-top: 3.25%;
	margin-left: 6%;
}

.usuario{
	margin-top: 3%;
	margin-left: 3%;
	height: 60%;
	width: 10%;
	background: url('../res/logo-usuario.png') no-repeat;
	background-position-x: left;
}

.text-usuario{
	margin-top: 3%;
	margin-left: 25%;
	font-family:gotham-medium;
	font-size: 1.5vw;
}

.iniciarsesion {
	
	margin-top: 3.25%;
	height: 40%;
}