.fondo{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 8%;
    margin-top: 10%;
}

.columnas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.izq{
    display: flex;
    flex-direction: column;
    /*background-color: brown;*/
    gap: 15px;
}

.der{
    display: flex;
    flex-direction: column;
    /*background-color: pink;*/
    gap: 15px;
}

.cat{
    border-radius: 5px;
    width: 556px;
    height: 10.75vw;
}

.cat:hover{
    background-color: var(--color-hover) !important;
}

.cat h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
    margin-top: 6.25%;
    margin-left: 30px;
    color: white;
}

.cat p{
    font-size: 1vw;
    font-family: gotham-regular;
    color: #FFFFFF;
    position: absolute;
    width: 30%;
    background: url('../res/ciruclito-cat.png') no-repeat;
    text-indent: 4%;
    margin-left: 30%;
    margin-top: -5%;
}

.cat-inf{
    border-radius: 5px;
    width: 556px;
    height: 7.5vw;
}

.cat-inf:hover{
    background-color: var(--color-hover) !important;
}

.cat-inf h2 {
    font-size: 2.5vw;
    margin-bottom: 10px;
    margin-top: 2.75%;
    margin-left: 30px;
    color: white;
}

.flechacat{
    height: 11.5%;
    width: 11.5%;
    margin-left: 86%;
    margin-top: 6%;
}

.flechacat-inf{
    height: 16%;
    width: 11.5%;
    margin-left: 86%;
    margin-top: 1.5%;
}

.bajo{
	background-position-x: center !important;
	background-position-y: 4vw !important;
    display: flex;
    flex-direction: row;
    width: 1129px;
    border-radius: 5px;
    height: 7.5vw;
}

.bajo:hover{
	background-position-y: 0vw !important;
}

.bajo h2 {
    color: white;
    margin-top: 2.5%;
    margin-left: 30px;
    font-size: 35px;
    height: 35px;
    width: 25%;
}

.biblioteca {
    margin-right: 5%;
}

.flechacat2 {
    height: 15px;
    width: 125px;
    margin-top: 5.5%;
    margin-left: 59%;
}
