.colaboraciones {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.subtitulo2 {
    font-size: 42px;
    margin-left: 15px;
}

.subtitulo2 h2{
	font-family: gotham-bold;
}

.publiaciones {
    display: flex;
    margin-left: 100px;
    gap: 20px;
    flex-direction: column;
}

.modelo {
    display: flex;
    flex-direction: row;
}

.trespublicaciones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.parrafo2 {
    width: 300px;
}

.botoncolab button {
    background-color: #68BAE8;
    border: none;
    border-radius: 5px;
    height: 57px;
    width: 384px;
    font-size: 24px;
    color: white;
    margin-left: 472.5px;
    margin-top: 2.5%;
}

.botoncolab button:hover{
	background-color: #000000;
}

.textosA {
    display: flex;
    gap: 15px;
    flex-direction: column;
    width: 30%;
    margin-left: 2%;
}

.textosA h2 {
	font-family: gotham-bold;
    margin: 0px;
    font-size: 42px;
}

.textosB {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textosB h3 {
	font-family: gotham-bold;
    margin-top: 15px;
    margin-bottom: 0px;
}

.parrafo1 {
    margin: 0px;
    font-size: 16px;
    font-family: gotham-light;
}

.parrafo2 {
    font-family: gotham-light;
    margin: 0px;
    width: 350px;
    font-size: 18px;
}
