.propagandalibro {
    background-color: #FAE2E2;
    display: flex;
    height: 30vw;
    flex-direction: row;
    margin-bottom: 150px;
    margin-top: 10%;
}

.imagenlibro {
    position: absolute;
    margin-left: 97px;
    margin-top: -55px;
}

.libroytexto {
    margin-left: 550px;
    margin-bottom: 30px;
}

.tituloyreloj {
    display: flex;
    flex-direction: row;
}

.newcap {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: gotham-black;
    font-size: 250%;
}

.reloj {
    margin-top: 37px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.reloj p {
	font-family: gotham-light;
	font-size: 12px;
}

.reloj img {
    margin-top: 12.5px;
    margin-left: 5px;
    height: 13px;
}

.cap4 {
	margin-top: 3%;
	font-family: gotham-light;
	font-size: 15px;
}

.propagandatexto h3 {
	margin-top: 3%;
	font-size: 25px;
}

.propagandaparrafo {
	margin-top: 0px;
	white-space: pre-line;
	font-size: 16px;
	font-family: gotham-light;
	width: 100%;
}

.flechapropaganda {
    width: 105px;
    margin-left: 500px;
    margin-top: 7.5%;
}

.flechapropaganda:hover{
	transform: scaleX(0.5);
}
