*{
	box-sizing: content-box;
}

body{
	margin: 0%;
}

header{
	margin: 0%;
}

/*Barra superior*/
.contenedorheader{
    height: 6vw;
    display: flex;
}

.menu {
	margin-left: 4%;
	margin-top: 3%;
	height: 40%;
	width: 4%;
}

.buscar{
	margin-top: 3%;
	margin-left: 50%;
	background: url(../res/lupita.png) no-repeat;	
	background-size:contain;
	background-position-x: right;
	width: 20%;
	height: 35%;
}

.usuario{
	margin-top: 3%;
	margin-left: 3%;
	height: 60%;
	width: 10%;
	background: url('../res/logo-usuario.png') no-repeat;
	background-position-x: left;
}

.text-usuario{
	margin-top: -1.75%;
	margin-left: 30%;
	font-family:gotham-medium;
	font-size: 1.5vw;
}

/*Menu hamburguesa*/
.hamburguesa-cont{
	display: none;
	background-color: #222222;
	width: 75%;
	height: 50vw;
	position: absolute;
	top: 0%;
	left: 0%;
	margin: 0px;
	padding: 0px;
}

.iniciarsesion {
	
	margin-top: 3.25%;
	height: 40%;
}

/*Seccion de titulo*/
.partesuperior{
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.titulo{
    /*background-color: blueviolet;*/
    width: 30%;
    font-family: gotham-bold;
    font-size: 6vw;
    margin-left: 4%;
    margin-top: 5%;
}

.segundologo{
    /*background-color: blue;*/
    height: 20vw;
    margin-top: -5%;
    margin-left: 38%;
    position: absolute;
}

.decoracion1{
    /*background-color: aqua;*/
    width: 40%;
    height: 4%;
    margin-left: 22%;
    margin-top: 8%;
}

/*Categorias*/
.fondo{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 8%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.columnas{
    display: flex;
    flex-direction: row;
    /*gap: 15px;*/
    gap: 1.25vw;
}

.categorias h2 {
    font-size: 2.5vw;
    margin-bottom: 0px;
    margin-top: 4%;
    margin-left: 30px;
    color: white;
}

.izq{
    display: flex;
    flex-direction: column;
    /*background-color: brown;*/
    /*gap: 40px;*/
    gap: 1.25vw;
}

.der{
    display: flex;
    flex-direction: column;
    /*background-color: pink;*/
    /*gap: 40px;*/
    gap: 1.25vw;
}

.cat{
    border-radius: 5px;
    /*width: 556px;*/
    width: 41vw;
    height: 10.75vw;
}

.cat-inferior{
	border-radius: 5px;
	width: 41vw;
	height: 7vw;
}

.cat-inferior h2 {
    font-size: 2.5vw;
    margin-bottom: 0px;
    margin-top: 2%;
    margin-left: 30px;
    color: white;
}

.img-cat-inferior{
	background-color: #FFFFFF;
    margin: 0%;
    margin-top: 1%;
    width: 100%;
    height: 45%;
    /*height: 30.5%;*/
}

.img-cat{
	background-color: #FFFFFF;
    margin: 0%;
    margin-top: 4%;
    width: 100%;
    height: 45%;
    /*height: 30.5%;*/
}

.flechacat{
    /*height: 10px;
    width: 50px;*/
    position: relative;
    top: -25%;
    left: 85.96%;
}

.flechacat-inferior{
    /*height: 10px;
    width: 50px;*/
    position: relative;
    top: -37.5%;
    left: 85.96%;
}

/*Biblioteca*/
.bajo {
    background: url('../res/cat-biblioteca-img.png') no-repeat;
    background-position-x: center;
    background-position-y: bottom;
    background-color: #212121;
    display: flex;
    flex-direction: row;
    width: 90.5%;
    border-radius: 5px;
    height: 111px;
}

.bajo h2 {
    color: white;
    margin-top: 1.75%;
    margin-left: 30px;
    font-size: 35px;
    height: 35px;
    width: 25%;
}

.biblioteca {
    margin-right: 5%;
}

.flechacat2 {
	margin-left: 60%;
	height: 13%;
	width: 11%;
	margin-top: 6%;
}

/*Seccion gato hoy*/
.gatohoy {
    margin-bottom: 0px;
}

.gatohoy h2 {
    font-size: 42px;
    margin-left: 4%;
}

.fila1 {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
}

.gatohoy h3 {
    margin: 5px;
    font-family: gotham-bold;
}

.gatohoy p {
    margin: 5px;
}

.fila2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
}

.fila2 p {
    width: 500px;
}

/*Seccion propaganda*/
.propagandalibro {
    background-color: #FAE2E2;
    display: flex;
    height: 32.5vw;
    flex-direction: row;
    margin-bottom: 150px;
    white-space: pre-line;
}

.imagenlibro {
    position: absolute;
    margin-left: 97px;
    margin-top: -55px;
}

.libroytexto {
    margin-left: 550px;
    margin-bottom: 30px;
}

.tituloyreloj {
    display: flex;
    flex-direction: row;
}

.newcap {
    margin-top: 30px;
    margin-bottom: 0px;
    font-family: gotham-black;
    font-size: 35px;
}

.reloj {
    margin-top: 37px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.reloj p {
	font-family: gotham-light;
	font-size: 12px;
}

.reloj img {
    margin-top: 12.5px;
    margin-left: 5px;
    height: 13px;
}

.cap4 {
	margin-top: 0;
	margin-bottom: 0px;
	font-family: gotham-light;
	font-size: 15px;
}

.propagandatexto h3 {
 	margin: 0px;
	font-size: 25px;
}

.propagandaparrafo {
	margin-top: 0px;
    font-size: 16px;
	font-family: gotham-light;
    width: 500px;
}

.flechapropaganda {
	position: absolute;
    width: 105px;
    margin-left: 500px;
    margin-top: -.5%;
}

.propuesta {
    background-color: #FEF5F5;
    margin-left: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.subtitulo3 {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
    margin-left: 35px;
}

.subtitulo3 img {
    margin-top: 40px;
    height: 210px;
}

.terminado{
    display: flex;
    flex-direction: column;
}

.terminado img {
    padding-left: 120px;
}

.terminarlibro {
    margin-top: 90px;
}

.terminarpodcas {
    margin-top: 220px;
}

.terminarexperimentos {
    margin-top: 160px;
}

.terminarnotas {
    margin-top: 85px;
}

.subtitulo3 h2 {
	font-family: gotham-black;
    font-size: 50px;
    width: 400px;
    margin-left: 15px;
}

.naranja {
    background-color: #ED5D4D;
    border-bottom-left-radius: 5px;
}

.naranja h3 {
    font-family: 'gotham-bold';
    margin-left: 73%;
    font-size: 36px;
    margin-bottom: -30px;
    margin-top: 0;
}

.naranja img {
    margin-bottom: 20px;
    margin-left: 73%;
}

.imagenes {
    display: flex;
    flex-direction: row;
}

section.\33 publicaciones {
    margin-left: 15px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.invencion {
    display: flex;
    flex-direction: row;
    background-color: black;
    width: 980px;
    height: 278px;
    border-radius: 5px;
}

.fotolibro1 {
    margin-left: 100px;
    margin-top: 10px;
}

.relleno1 {
    color: white;
    margin-left: 25px;
}

.textos1 h3 {
	margin-bottom: 0px;
	margin-top: 20px;
	font-family: gotham-bold;
    font-size: 25px;
}

.textos1 p {
	margin-top: 0px;
	margin-bottom: 0px;
	font-family: gotham-light;
	font-size: 15px;
}

.textoybarra1 {
	padding: 0px;
	margin-top: -10px;
    font-size: 22px;
    color: #EE5D52;
}

.tiempoytexto1 {
	padding: 0px;
	margin: 0px;
    display: flex;
}

.tiempo1 {
    color: white;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 15px;
}

.flechatiempo1 {
	margin-top: 11px;
	position: absolute;
	width: 20%;
}

.lectura {
    height: 20px;
    font-family: gotham-bold;
    font-size: 20px;
    margin-left: 277px;
    margin-top: -6px;
}

.textoybarra1 img {
    margin-left: 400px;
    width: 200px;
}

.barrablancaA {
    background-color: white;
    height: 10px;
    width: 600px;
    border-radius: 20px;
}

.barranaranja {
	margin-top: -26px;
    border-radius: 20px;
    width: 465px;
    height: 10px;
    background-color: #EE5D52;
}

.humanidad {
    display: flex;
    flex-direction: row;
}

.fondo2{
    width: 980px;
    height: 278px;
}

.interior {
    margin-top: 50px;
    margin-left: -880px;
    position: relative;
    display: flex;
    flex-direction: row;
}

.relleno2 {
    background-color: #72E7B6;
    margin-left: 7px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 694px;
    height: 215px;
}

.textos2 {
    margin-left: 10px;
}

.textos2 h3 {
    font-size: 18px;
}

.textos2 p {
    font-size: 14px;
}

.textoybarra2 {
    margin-left: 10px;
}

.tiempoytexto2 {
    display: flex;
    flex-direction: row;
}

.tiempo2 {
    color: white;
    font-size: 14px;
    margin-bottom: 0px;
}

.escuchar {
    color: #32499A;
    margin-top: 28px;
    margin-bottom: -10px;
    margin-left: 271px;
    font-size: 18px;
}

.textoybarra2 img {
    margin-left: 387px;
    width: 202px;
}

.barrablancab {
    background-color: white;
    height: 10px;
    width: 589px;
    margin-top: 28px;
    border-radius: 20px;
}

.barraazul {
    border-radius: 20px;
    width: 455px;
    height: 10px;
    background-color: #32499A;
}

.nace {
    display: flex;
    flex-direction: row;
}

.relleno3 {
    margin-left: 20px;
}

.textos3 h3 {
    font-size: 22px;
}

.textos3 p {
    width: 300px;
    font-size: 16px;
}

.guardadoyflecha {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.vector1 {
    height: 16.75px;
}

.guardadoyflecha p {
    margin: 0;
}

.flecha6 {
    margin-top: 60px;
    margin-left: 225px;
}

.marcadores {
    background-color: #F2E9E9;
    border-radius: 5px;
    display: flex;
    width: 980px;
    height: 93px;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 50px;
}

.vector2 {
    height: 34px;
    margin-left: 20px;
    margin-top: 30px;
}

.marcadores h3 {
    font-size: 36px;
    margin-top: 22px;
}

.flecha5 {
    height: 25px;
    margin-top: 32.5px;
    margin-left: 480px;
}

.colaboraciones {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.subtitulo2 {
    font-size: 42px;
    margin-left: 15px;
}

.publiaciones {
    display: flex;
    margin-left: 100px;
    gap: 20px;
    flex-direction: column;
}

.modelo {
    display: flex;
    flex-direction: row;
}

.trespublicaciones {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.parrafo2 {
    width: 300px;
}

.botoncolab button {
    background-color: #ED5D4D;
    border: none;
    border-radius: 5px;
    height: 57px;
    width: 384px;
    font-size: 24px;
    color: white;
    margin-left: 472.5px;
}

.textosA {
    display: flex;
    gap: 15px;
    flex-direction: column;
}

.textosA h2 {
    margin: 0px;
    font-size: 42px;
    width: 300px;
}

.textosB {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.textosB h3 {
    margin-top: 15px;
    margin-bottom: 0px;
}

.parrafo1 {
    margin: 0px;
    font-size: 16px;
}

.parrafo2 {
    margin: 0px;
    width: 350px;
    font-size: 18px;
}

.gatohoy {
    margin-bottom: 60px;
}

.propuesta {
    background-color: #FEF5F5;
    margin-left: 15px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.Sherpas {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: row;
}

.fondo3 {
    width: 100%;
    height: 649px;
}

.Sherpastyi {
    display: flex;
    flex-direction: row;
}

.imagenSherpas {
    height: 329px;
    position: relative;
    margin-left: -1225px;
    margin-top: 85px;
}

.textosSherpas {
    margin-left: 40px;
    margin-top: 50px;
}

.subtitulo4 {
    font-size: 42px;
    width: 300px;
    color: #F95A2E;
}

.parrafo3 {
    margin-top: 60px;
    width: 465px;
    font-size: 16px;
}

.escuchar2 {
    font-size: 18px;
    color: #F95A2E;
    margin-top: 115px;
    margin-left: 540px;
}

.escuchar2 p {
    margin-bottom: -12.5px;
}

.sumar {
    height: 300px;
}

.sumar img {
    width: 100%;
}

.rellenosumar {
    display: flex;
    position: relative;
    top: -450px;
    left: 30%;
    flex-direction: column;
    width: 500px;
}

.subtitulo6 {
    font-family: 'gotham-medium';
    margin: 0;
    font-size: 38px;
    color: white;
    width: 900px;
}

.subtitulo7 {
    font-family: 'gotham-medium';
    margin-left: 117%;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 38px;
    color: #80FF00;
}

.textoybotonsumate {
    display: flex;
    flex-direction: row;
}

.textossumate {
    margin: 0;
    width: 330px;
}

.textosumate1 {
    font-family: 'Overpass Mono';
    margin: 0;
    color: white;
    width: 330px;
}

.textosumate2 {
    font-family: 'Overpass Mono';
    margin: 0;
    color: white;
}

.botonsunar {
    width: 306px;
    height: 55px;
    font-size: 18px;
    font-family: 'gotham-bold';
    border-radius: 5px;
    border: none;
    margin-left: 69%;
    margin-top: 10%;
}

.climaS {
    margin-top: 160px;
}

.clima {
    display: flex;
    flex-direction: row;
}

.libroclima img {
    height: 785px;
    margin-left: -45px;
}

.sub {
    margin-top: 120px;
    margin-left: -100px;
}

.sub h2 {
    margin-top: 0;
    font-family: 'gotham-black';
    font-size: 50px;
    width: 600px;
}

.botondoble {
    display: flex;
}

button.botonclima1 {
    background-color: #8CF2CD;
    border: none;
    border-radius: 5px;
    width: 193px;
    height: 55px;
    color: white;
    font-size: 20px;
    font-family: 'gotham-medium';
}

.botonclima2 {
    padding: 0;
    margin-left: 30.5%;
    padding-top: 2.5%;
}

.botonclima2 p {
    font-size: 18px;
    font-family: 'gotham-bold';
    margin: 0%;
}

.botonclima2 img {
    margin-top: -1.8%;
    position: absolute;
    width: 15.5%;
}

.tiendagato {
    padding-bottom: 0px;
    padding-top: 50px;
    padding-left: 50px;
    background-color: #E6A7D4;
}

.imgcontextos {
    display: flex;
    flex-direction: row;
}

.subtitulo5 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.subtitulo5 h2 {
    font-size: 50px;
    width: 300px;
    margin-top: 0;
}

.visitar {
    margin-left: 190px;
}

.visitar p {
    font-size: 18px;
    margin-top: 105px;
    margin-bottom: -10px;
}

.footer{
    background-color: #1A1A1A;
    height: 330px;
    margin-bottom: 0%;
}

.partes-footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
}

.partes-footer p{
    font-family: 'Gotham-Book', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
}

.logo2{
    height: 72px;
    margin-top: 25px;
}

.f1{
    font-size: 16px;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.f2{
    font-size: 16px;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.f1 p {
    margin: 0;
}

.f2 p {
    margin: 0;
}


.f2 p {
    margin: 0;
}
