.contenedorheader{
    /*background-color: green;*/
    margin: 0%;
    display: flex;
    flex-direction: row;
}

.menu {
    margin-left: 15px;
    height: 20px;
    width: 30px;
    margin-top: 23px;
}

.primerlogo{
    margin-left: 600px;
    margin-right: 500px;
}

.iniciarsesión {
    margin-top: 20px;
    height: 25px;
    border-radius: 5px;
    border: none;
}

.partesuperior{
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: row;
}

.titulo{
    /*background-color: blueviolet;*/
    width: 350px;
    font-size: 80px;
    margin-left: 15px;
    margin-right: 215px;
    margin-top: 112px;
    margin-bottom: 200px;
}

.segundologo{
    /*background-color: blue;*/
    height: 200px;
    margin-top: 25px;
}

.decoración1{
    /*background-color: aqua;*/
    width: 340px;
    height: 150px;
    margin-left: 200px;
    margin-top: 170px;
}

.fondo{
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 100px;
}

.columnas{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.categorias h2 {
    font-size: 36px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 30px;
}

.izq{
    display: flex;
    flex-direction: column;
    /*background-color: brown;*/
    gap: 15px;
}

.der{
    display: flex;
    flex-direction: column;
    /*background-color: pink;*/
    gap: 15px;
}

.catnotas{
    border-radius: 5px;
    background-color: #A56DE6;
    width: 556px;
    height: 108px;
}

.notas{
    margin: 0%;
    width: 556px;
}

.catlab{
    border-radius: 5px;
    background-color: #68BAE8;
    width: 556px;
    height: 108px;
}

.laboratorio{
    margin: 0%;
    width: 556px;
}

.catinv{
    border-radius: 5px;
    background-color: #84C083;
    width: 556px;
    height: 99px;
}

.investigación{
    margin: 0%;
    width: 556px;
}

.catoíd{
    border-radius: 5px;
    background-color: #F6A13E;
    width: 556px;
    height: 108px;
}

.oídos{
    margin: 0%;
    width: 556px;
}

.catlibro{
    border-radius: 5px;
    background-color: #EE5D52;
    width: 556px;
    height: 108px;
}

.libros{
    margin: 0%;
    width: 556px;
}

.cattienda{
    border-radius: 5px;
    background-color: #E274C3;
    width: 556px;
    height: 99px;
}

.tienda{
    margin: 0%;
    width: 556px;
    height: 32px;
}

.flechacat{
    height: 10px;
    width: 50px;
    position: relative;
    top: -32px;
    left: 500px;
}

.bajo {
    background-color: black;
    display: flex;
    flex-direction: row;
    width: 1129px;
    border-radius: 5px;
}

.bajo h2 {
    color: white;
    margin-right: 95px;
    margin-left: 30px;
    font-size: 35px;
    height: 35px;
    width: 200px;
}

.biblioteca {
    margin-right: 52px;
}

.flechacat2 {
    height: 15px;
    width: 125px;
    margin-top: 70px;
}

.gatohoy h2 {
    font-size: 42px;
    margin-left: 15px;
}

.fila1 {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.gatohoy h3 {
    margin: 5px;
}

.gatohoy p {
    margin: 5px;
}

.fila2 {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-left: 100px;
}

.fila2 p {
    width: 500px;
}