.partesuperior{
    /*background-color: chartreuse;*/
    display: flex;
    flex-direction: row;
    margin-top: 10%;
}

.titulo{
    /*background-color: blueviolet;*/
    white-space: pre-line;
    width: 30%;
    font-family: gotham-bold;
    font-size: 6vw;
    margin-left: 4%;
    margin-top: 5%;
}

.segundologo{
    /*background-color: blue;*/
    height: 20vw;
    margin-top: -5%;
    margin-left: 38%;
    position: absolute;
}

.decoracion1{
    /*background-color: aqua;*/
    width: 40%;
    height: 4%;
    margin-left: 22%;
    margin-top: 8%;
}
